.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.width_full,
.width_full .btn {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: inherit;
  font-weight: var(--fw-medium);
  border-radius: var(--br-small);
  border: 1px solid var(--clr-trasparent);
  transition: background var(--transition-default), border-color var(--transition-default), color var(--transition-default);
  cursor: pointer;
  min-width: 42px;
}

.btn,
.btn span {
  color: var(--clr-text-light);
} 


/* VARIANTS */
.btn.filled {
  background: var(--clr-primary-main);
  border-color: var(--clr-primary-main);
}

.btn.filled:hover {
  background: var(--clr-primary-dark);
  border-color: var(--clr-primary-dark);
}

.btn.outlined {
  border-color:rgba(255, 255, 255, 0.12);
}

.btn.outlined:hover {
  background: rgba(36, 153, 239, 0.08);
  border-color: var(--clr-primary-main);
}

.btn.small {
  padding: 8px 16px;
}

.btn.medium {
  padding: 12px 24px;
}

.align_center {
  justify-content: center;
}

.align_left {
  justify-content: flex-start;
}

.align_right {
  justify-content: flex-end;
}