.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.width_full .btn {
  width: 100%;
}

.btn {
  text-align: center;
  font-size: inherit;
  font-weight: var(--fw-medium);
  background: var(--clr-btn-bg);
  border-radius: var(--br-small);
  color: var(--clr-yellow-main);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  cursor: pointer;
}

.btn.small {
  padding: 8px 16px;
}

.btn.medium {
  padding: 16px 24px;
}


.btn:hover {
  background: var(--clr-yellow-main);
  color: var(--clr-blue-dark);
}

.align_center {
  justify-content: center;
}

.align_left {
  justify-content: flex-start;
}

.align_right {
  justify-content: flex-end;
}