.main {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: var(--clr-blue-dark);
}

.main p {
  font-size: var(--fs-body);
}

.col_right h2,
.input_group input {
  color: var(--clr-text-primary);
}

.col_left,
.form_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col_left,
.col_right {
  height: 100dvh;
  padding: 4rem 3rem;
}

.col_left {
  width: 45%;
}

.col_right {
  width: 55%;
  background: url(../../../public/task-manager-v2-landing.png) no-repeat;
  background-size: cover;
  background-position: bottom -100px center;
  background-color: var(--clr-blue-main);
}

.title {
  max-width: 500px;
}

.title h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

/* Auth Form */
.form_container {
  width: 80%;
  max-width: 600px;
}
.auth_form {
  width: 100%;
  margin: 2rem 0;
}

.form_container p,
.input_group label {
  color: var(--clr-gray-dark);
}

.form_btn_container {
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}