.main {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col_left,
.col_right {
 
  height: 100dvh;
}

.col_left {
  width: 40%;
  padding: 2rem 3rem;
  background: var(--clr-bg-card-primary);
}

.col_right {
  width: 60%;
}

.col_right .col_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 3rem;
}

.auth_logo {
  padding: 0;
}

/* Auth Form */
.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}

.form_btn_container {
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.or_signin_text {
  position: relative;
  color: var(--clr-text-primary);
  width: 100%;
  text-align: center;
}

.or_signin_text h5 {
  position: relative;
  width: 50px;
  margin: auto;
  z-index: 2;
  padding: 1rem;
  background: var(--clr-bg-card-primary);
}

.or_signin_text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background: var(--clr-border-light);
  z-index: 1;
}

.form_footer_text {
  text-align: center;
}
