.main {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: var(--clr-blue-dark);
}

.main p {
  font-size: var(--fs-body);
}

.col_right h2,
.input_group input {
  color: var(--clr-text-primary);
}

.col_left,
.form_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col_left,
.col_right {
  height: 100dvh;
  padding: 4rem 3rem;
}

.col_left {
  width: 45%;
}

.col_right {
  width: 55%;
  /* background: url(../../../public/task-manager-v2-landing.png) no-repeat;
  background-size: cover;
  background-position: bottom -100px center; */
  background-color: var(--clr-bg-card-dark);
}

.title {
  max-width: 500px;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--clr-text-primary);
}

/* Auth Form */
.form_container {
  width: 80%;
  max-width: 600px;
}

.form_btn_container {
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.or_signin_text {
  position: relative;
  color: var(--clr-text-primary);
  width: 100%;
  text-align: center;
}

.or_signin_text h5 {
  position: relative;
  width: 50px;
  margin: auto;
  z-index: 2;
  padding: 1rem;
  background: var(--clr-bg-default);
}

.or_signin_text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background: var(--clr-border-light);
  z-index: 1;
}

.form_footer_text {
  text-align: center;
}
