.list_controls_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.filters_container,
.filters_badges_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.filter_badge {
  cursor: pointer;
  transition: background var(--transition-default);
}

.filter_badge:hover {
  background: rgba(95, 116, 141, 0.137);
}

/* Media Queries */
@media (max-width: 600px) {
  .list_controls_container {
    position: relative;
    justify-content: flex-start;
    width: 100%;
  }

  .list_controls_container::after {
    content: "";
    display: block;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, #0e132000, var(--clr-bg-default));
    position: absolute;
    top: 0;
    right: 42px;
  }
  
  .filters_container {
    width: 100%;
    padding-right: 0.75rem;
    overflow-x: auto;
  }
  
  .filters_icon,
  .filters_container::-webkit-scrollbar {
    display: none;
  }
}