.main {
  margin-left: 225px;
  margin-top: 82px;
  /* min-height: calc(100vh - 15rem); */
  padding: 1.5rem;
  background: var(--clr-blue-dark);
}

.main h2 {
  color: var(--clr-text-primary);
}

.footer {
  margin-top: 1.5rem;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}