.select_btn {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--br-small);
  color: var(--clr-text-secondary);
  font-size: inherit;
  font-family: inherit;
  transition: color var(--transition-default), background var(--transition-default);
}

.select_btn span {
  color: var(--clr-text-secondary);
}

.select_btn:hover {
  background: rgba(95, 116, 141, 0.137);
}
