.notifications_panel {
  min-width: 400px;
  height: auto;
  background: var(--clr-bg-card-secondary);
  border: 1px solid var(--clr-border-dark);
  border-radius: var(--br-small);
  padding: 1rem 0;
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
}

.panel_header {
  padding: 0.5rem 1.5rem;
}

.panel_footer {
  padding: 0.5rem 1.5rem;
}

.notifications_list {
  padding-top: .5rem;
}

.notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  /* border-bottom: 1px solid var(--clr-border-dark); */
  transition: background var(--transition-default);
  cursor: pointer;
}

.notification:hover {
  background: var(--clr-primary-opacity);
}

.notification_title {
  color: var(--clr-primary-main);
  font-weight: var(--fw-medium);
}

.notification_description {
  color: var(--clr-text-primary);
}

.notification_time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .25rem;
  font-size: var(--fs-small);
}


.notification_badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: rgb(105, 94, 23);
  background: var(--clr-primary-main);
  border-radius: var(--br-full);
}

.notification_badge span {
  color: #fff;
}

.notification_badge.blue {
  color: rgb(24, 51, 110);
  background:  #57a3ff;
}

.notification_badge.red {
  color: var(--clr-error-dark);
  background: var(--clr-error-main);
}