.main {
  margin-top: 1.5rem;
}

.customFc {
  font-size: 1rem !important;
}

.today {
  background-color: var(--clr-primary-main);
  color: var(--clr-text-light);
  border: 1px solid var(--clr-primary-main);
}
