.notifications {
  position: relative;
  cursor: pointer;
  transition: color var(--transition-default);
}

.notifications:hover {
  color: var(--clr-text-primary);
}

.notifications::before {
  content: '3';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  right: -1px;
  width: 20px;
  height: 20px;
  color: #ffff;
  background: var(--clr-error-main);
  border-radius: var(--br-full);
  font-size: var(--fs-small);
  z-index: 1;
}
