.header {
  padding-bottom: 1rem;
  width: 100%;
  color: var(--clr-text-primary);
}

.header,
.header_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.container{
  /* display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-gap: 20px; */
  height: 100%;

  /* min-width: 600px;
  overflow: auto; */
}

.container.list_view .add_task_btn {
  min-height: 200px;
}

.view_select {
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: var(--br-small);
}

.view_btn:hover,
.view_btn.active {
  background: rgba(95, 116, 141, 0.137);
}

@media (max-width: 600px) {
  .create_project_card {
    grid-column-end: span 12;
  }

  .header {
    padding-bottom: 0;
  }
}