.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  height: 7px;
  width: 100%;
  background: var(--clr-primary-opacity);
  border-radius: var(--br-small);
}

.filler {
  height: 100%;
  border-radius: inherit;
  background: var(--clr-primary-light);
}

.label {
  text-align: right;
  padding-left: 1rem;
}