.main{
  background: var(--clr-border-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  width: 20px;
  height: 1.5rem;
  background: var(--clr-border-light);
  border-radius: 0.25rem;

}

.title {
  width: 300px;
  height: 1.5rem;
  background: var(--clr-border-light);
  border-radius: 0.25rem;
}