.add_task_card {
  border: 1px dashed var(--clr-border-dark);
  border-radius: var(--br-small);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  max-height: 75px;
  height: 75px;
  width: 100%;
  margin-top: 1rem;
}

.no_margin {
  margin-top: 0;
}