.main {
  background: var(--clr-trasparent);
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--clr-blue-dark);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  z-index: 3;
  /* border-bottom: 1px solid var(--clr-border-dark); */
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); */
  /* transition: width var(--transition-default); */
}

.main.sidebar_open {
  width: calc(100% - 225px);
}

.main.sidebar_closed {
  width: calc(100% - 70px);
}

.col_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.sidebar_toggle span {
  color: var(--clr-text-primary);
}

.sidebar_toggle span:hover {
  color: var(--clr-text-primary) !important;
}


/* Media queries */
@media (max-width: 600px) {
  .main.sidebar_open,
  .main.sidebar_closed {
    width: 100%;
  }

  .col_left .sidebar_toggle_btn {
    display: none;
  }

  .col_left .topbar_logo {
    padding: 0;
  }

  .main {
    transition: transform var(--transtion-slow), opacity var(--transtion-slow);
  opacity: 1;
  }

  .scrolled_down {
    transform: translateY(-100%);
    opacity: 0;
  }
}