.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.header_date {
  font-size: var(--fs-medium);
}

.panels_container {
  height: 100%;
}

.tables_container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.bottom_cards_container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.calendar_card {
  display: flex ;
  justify-content: center;
}

.chart_stats {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.chart_stats_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--clr-bg-card-secondary);
  width: 100%;
  border-top: 1px dashed var(--clr-border-light);
  border-bottom: 1px dashed var(--clr-border-light);
  border-left: 1px dashed var(--clr-border-light);
}

.chart_stats_card:first-child {
  border-left: none;
}

.chart_stats_card h3 {
  font-size: var(--fs-body);
  color: var(--clr-text-secondary);
}

.chart_stats_card p {
  font-size: var(--fs-large);
  color: var(--clr-text-primary);
}

.chart_stats_card .working_hours_num {
  color: #73dce9;
}

.chart_container {
  width: calc(100% - 3.4rem);
  height: 100%;
  margin: auto;
  /* padding: 0 1.7rem; */
}


.table_card_header,
.table_select_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem 1rem 1.7rem;
  color: var(--clr-text-primary);
}

.table_select_btn {
  cursor: pointer;
}

/* Media queries */
@media (max-width: 900px) {
  .bottom_cards_container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .header_date {
    font-size: var(--fs-body);
    color: var(--clr-text-secondary)
  }

  .tables_container {
    grid-template-columns: 1fr;
  }

  .chart_stats {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

  .chart_container {
    /* max-width: 400px; */
    width: calc(100% - 2.7rem);
    /* height: 400px; */
    overflow-x: scroll;
  }
}