.task_header,
.task_footer,
.task_stat,
.task_badges_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.task_stat {
   gap: 4px;
   font-size: var(--fs-small);
}

.task_body {
  padding: 0.75rem 0;
}

.task_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
