.main {
  padding: .5rem 0;
  transition: color var(--transition-default), background var(--transition-default);
  cursor: pointer;
}

.item_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 .5rem;
   font-size: var(--fs-body);
}

.main:hover {
  background: var(--clr-primary-opacity)
}

.main:hover * {
  color: var(--clr-primary-light);
  transition: color var(--transition-default);
}


.main a:hover {
  text-decoration: none;
}