.task_header,
.task_footer {
  padding: 0 1.35rem;
}

.task_body {
  padding: 1rem 1.35rem;
}

.task_header,
.task_title,
.task_stat_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.task_title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task_options_btn {
  text-align: left;
  margin: -0.5rem -0.5rem 0 0;
}

.task_stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.task_title {
  font-weight: 400;
  word-break: break-word;
  align-self: center;
  text-overflow: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
  -webkit-line-clamp: 2;
}

.task_description {
  width: 100%;
  padding: 0.5rem 0 0 0;
  border: none;
}

.divider {
  margin: 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: var(--clr-border-light);
}

.task_description::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.task_description::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.487);  */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--clr-scrollbar-track);
}

/* Handle */
.task_description::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--clr-scrollbar-thumb);
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.task_footer {
  margin-top: 1rem;
}

.task_footer p {
  font-size: var(--fs-small);
}