.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  height: 10px;
  width: 100%;
  background: #383f44;
  border-radius: var(--br-small);
}

.filler {
  height: 100%;
  border-radius: inherit;
  background: var(--clr-primary-main);
}

.label {
  text-align: right;
  padding-left: 1rem;
}