.task_header,
.task_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.task_header {
  margin-bottom: 1rem;
}

.task_description {
  color: var(--clr-gray-main);
}