.main {
  margin-left: 225px;
  margin-top: 82px;
  /* min-height: calc(100vh - 15rem); */
  padding: 1.5rem;
  background: var(--clr-blue-dark);
  /* transition: margin-left var(--transition-default); */
}

.main.sidebar_open {
  margin-left: 225px;
}

.main.sidebar_closed {
  margin-left: 70px;
}

.main h2 {
  color: var(--clr-text-primary);
}

.footer {
  margin-top: 1.5rem;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .main,
  .main.sidebar_open,
  .main.sidebar_closed {
    margin-left: 0;
  }
}