.main {
  min-width: 150px;
  width: 100%;
  height: auto;
  background: var(--clr-bg-card-secondary);
  border: 1px solid var(--clr-border-light);
  border-radius: var(--br-small);
  padding: .5rem 0;
  box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;

}