.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(9, 13, 21, 0.434);
  backdrop-filter: blur(1px);
  z-index: 100000;
}

.modal_content {
  width: 90%;
  max-width: 600px;
  box-shadow: rgba(95, 116, 141, 0.03) 0px 4px 2px -2px, rgba(95, 116, 141, 0.04) 0px 2px 2px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
  border-radius: var(--br-small);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text-primary);
}