.header {
  padding-bottom: 1rem;
  width: 100%;
  color: var(--clr-text-primary);
}

.header,
.header_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-gap: 20px;
  height: 100%;
}

.create_project_card {
  border: 1px dashed var(--clr-border-dark);
  border-radius: var(--br-small);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 150px;
  height: 100%;
  width: 100%;
  grid-column-end: span 3;
}

.no_margin {
  margin-top: 0;
}

/* Media queries */
@media (max-width: 900px) {
 .create_project_card {
   grid-column-end: span 6;
 }
}

@media (max-width: 600px) {
  .create_project_card {
    grid-column-end: span 12;
  }

  .container {
    padding-bottom: 1rem;
  }
}