.title {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--clr-text-light);
}

.description {
  font-size: var(--fs-body);
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}