.select_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .25rem .25rem .5rem;
  border-radius: var(--br-small);
  color: var(--clr-text-light);
  font-size: inherit;
  font-family: inherit;
  transition: color var(--transition-default), background var(--transition-default);
}

.select_btn span {
  color: var(--clr-text-light);
}

.select_btn:hover {
  background: var(--clr-bg-card-light);
}
