.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.width_full,
.width_full .btn {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  border-radius: var(--br-small);
  border: 1px solid var(--clr-trasparent);
  transition: background var(--transition-default), border-color var(--transition-default), color var(--transition-default);
  cursor: pointer;
  min-width: 42px;
}

/* .btn,
.btn span {
  color: var(--clr-btn-text-primary);
}  */


/* VARIANTS */
.btn.filled {
  color: var(--clr-btn-text-primary);
  background: var(--clr-btn-bg-primary);
  border-color: var(--clr-btn-bg-primary);
}

.btn.filled,
.btn.filled span {
  color: var(--clr-btn-text-primary);
}

.btn.filled:hover {
  background: var(--clr-btn-bg-hover);
  border-color: var(--clr-btn-bg-hover);
}

.btn.outlined {
  border-color: var(--clr-border-dark);
}

.btn.outlined:hover {
  background: rgba(36, 153, 239, 0.08);
  border-color: var(--clr-primary-main);
}

.btn.outlined {
  color: var(--clr-text-primary);
} 
/* 
.btn.outlined:hover  {
  color: var(--clr-primary-main);
} */


.btn.small {
  padding: 8px 16px;
}

.btn.medium {
  padding: 12px 24px;
}

.align_center {
  justify-content: center;
}

.align_left {
  justify-content: flex-start;
}

.align_right {
  justify-content: flex-end;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .btn.small {
    padding: 4px 8px;
  }
}