.main {
  grid-row: span 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0; 
  bottom: 0; 
  padding: 1.5rem 0;
  background: var(--clr-bg-card-main);
  border-left: 1px solid var(--clr-trasparent);
  /* transition: width var(--transition-default); */
}

.main.open {
  width: 225px;
}

.main.closed {
  width: 60px;
}