.project_card {
  grid-column-end: span 3;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project_title {
  padding: 0 0 1rem 0;
}

.project_tasks_stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.project_options_btn {
  text-align: left;
}

.project_progress {
  margin-top: 1rem;
}

.project_tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

}

.divider {
  margin: 1rem 0;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: var(--clr-border-light);
}
