.navbar {
  width: 100%;
  margin-top: 1.5rem;
  flex: 2;
}

.links_list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navlink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: .75rem 1rem;
  gap: .5rem;
  cursor: pointer;
  border-left: 3px solid transparent;
}

.navlink a,
.navlink span {
  color: var(--clr-gray-main);
  transition: color 0.2s ease-in-out;
}

.navlink.active {
  background: var(--clr-blue-card);
  border-color: var(--clr-yellow-main);
}

.navlink:hover,
.navlink:hover a,
.navlink:hover span,
.navlink.active span,
.navlink.active a {
  color: var(--clr-gray-light);
  text-decoration: none;
}

.divider {
  margin: 1rem auto;
  width: 82%;
  height: 1px;
  background: var(--clr-gray-dark);
  opacity: .3;
}