.table_main {
  border-collapse: collapse;
  width: 100%;
}

.table_main>:not(caption)>*>* {
    padding: .75rem .6rem;
    border-bottom-width: 1px;
}

.table_head {
  color: var(--clr-text-light);
  background: var(--clr-bg-card-light);
  border-top: 1px solid var(--clr-border-light);
  border-bottom: 1px solid var(--clr-border-light);
}

.table_head th {
  font-weight: var(--fw-regular);
}

.table_body td {
  font-size: var(--fs-body);
}

.table_body tr {
  border-bottom: 1px solid var(--clr-border-light);
}

.table_head th:first-child,
.table_body td:first-child {
  padding-left: 1.75rem;
}