:root {
  /* Typography */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-small: 0.825rem;
  --fs-body: 0.95rem;
  --fs-medium: 1.125rem;  
  --fs-large: 1.25rem;
  --fs-number: 1.25rem;

  /* Border radius */
  --br-small: 6px;
  --br-large: 28px;
  --br-full: 100%;

  /* Transition */
  --transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  /* React Full Calendar */
  --fc-button-bg-color: var(--clr-blue-main);
  --fc-button-border-color: var(--clr-trasparent);
  --fc-button-hover-bg-color: var(--clr-yellow-main);
  --fc-button-hover-border-color: var(--clr-trasparent);
  --fc-button-active-bg-color: var(--clr-yellow-main);
  --fc-button-active-border-color: var(--clr-trasparent);

  --fc-border-color: #262a3d;
  --fc-daygrid-event-dot-width: 5px;
  --fc-today-bg-color: #242213;

  /* FC Events */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--clr-bg-default);
  color: var(--clr-text-secondary);
  font-size: var(--fs-body);
}

/*global reset*/
ul {
  list-style-type: none;
}


span,
a {
  color: var(--clr-text-secondary);
}

input,
textarea {
  color: var(--clr-text-primary);
  font-size: var(--fs-body);
}

input:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-text-opacity);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--clr-text-secondary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-medium);
  color: var(--clr-text-primary);
}

h1 {
  font-size: 1.5rem;
}

h2,
.fc .fc-toolbar-title {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  line-height: 1.5rem;
  color: var(--clr-text-secondary);
}

a {
  text-decoration: none;
  transition: color var(--transition-default);
}

a:hover {
  text-decoration: underline;
}
/* Custom Calendar Styles */
.rdp {
  margin: 0 !important;
  width: 100%;
}

.rdp .rdp-months {
  justify-content: center;
}

.rdp .rdp-table {
  width: 100%;
  max-width: 100%;
}

.rdp .rdp-month:last-child {
  width: 100%;
}

.rdp .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--clr-blue-light);
  color: var(--clr-gray-light);
  border: 1px solid var(--clr-blue-main);
}

.rdp .rdp-day_selected:focus-visible,
.rdp .rdp-day_selected:hover {
  background-color: #14507b;
  color: var(--clr-gray-light);
}

/* Custom React Full Calendar Styles */
.fc a {
  color: var(--clr-gray-dark);
}

.fc a:hover {
  cursor: initial;
  text-decoration: none;
}

.fc .fc-button-group {
  gap: 2px;
}

.fc .fc-today-button {
  text-transform: capitalize;
}

.fc .fc-button-primary:hover,
.fc .fc-button-primary:active:focus,
.fc .fc-button-primary:disabled:hover {
  color: var(--clr-blue-dark);
  background: var(--clr-yellow-main);
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled):focus {
  box-shadow: none;
}

.fc-theme-standard th {
  border-color: var(--clr-trasparent);
  border-bottom: 1px solid var(--fc-border-color);
}

.fc-scrollgrid-sync-inner {
  padding-bottom: 1rem;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-theme-standard td:first-of-type {
  border-left: 1px solid var(--fc-border-color);
}

.fc-h-event,
.fc-daygrid-event-harness a,
.fc-daygrid-event-harness a:hover {
  border: none;
  color: var(--clr-light-gray);
  border-left: 4px solid #1d4064;
  text-transform: capitalize;
}

.fc-daygrid-event {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  cursor: move !important;
}

.fc-h-event .fc-event-main {
  color: var(--clr-gray-light);
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc-daygrid-event-harness a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--clr-gray-light);
}

.fc .fc-highlight {
  background: var(--clr-blue-light);
}
