:root {
  /* Color Palette */
  --clr-light-blue: #262A3D;
  --clr-main-blue: #1D2235; 
  --clr-dark-blue: #000714;

  --clr-light-gray: #f9f9f9;
  --clr-main-gray: #d3d3d3;
  --clr-dark-gray: #8A8C92;

  --clr-main-yellow: #f4ca8d;

  --clr-error-main: #f35c6b;

  --clr-trasparent: #00000000;

  /* Typography */
  --fw-regular: 400;
  --fw-medium: 500;

  --fs-small: 0.925rem;
  --fs-body: 1rem;
  --fs-number: 1.25rem;

  /* Border radius */
  --br-small: 8px;
  --br-large: 16px;
  --br-full: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: var(--fs-body);
  line-height: 1.5rem;
}

a {
  color: var(--clr-main-yellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  /* text-transform: capitalize; */
}