.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list_controls_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.list_option_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 0.25rem 0.5rem;
  border-radius: var(--br-small);
  cursor: pointer
}

.list_option_btn:hover {
  background: rgba(95, 116, 141, 0.137);
}

.list_empty_message {
  font-size: var(--fs-medium);
  font-weight: 500;
  /* color: var(--clr-text-opacity); */
  padding-left: 10px;
}

@media (max-width: 600px) {
  .list_controls_container {
    justify-content: flex-end;
  }
}
