.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: .5rem 0;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.main,
.main a {
  color: var(--clr-gray-light);
}

.main:hover {
  background: #383f44;
}

.main a:hover {
  text-decoration: none;
}