.main {
  padding: .5rem 0;
  transition: background var(--transition-default);
  cursor: pointer;
}

.item_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 .5rem;
}

.main:hover {
  background: var(--clr-border-light)
}

.main a:hover {
  text-decoration: none;
}