.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: .5rem 0;
  color: var(--clr-gray-light);
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.main:hover {
  background: var(--clr-blue-light);
}