.container_full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}