.stat {
  cursor: pointer;
}

.stat_title {
  font-size: var(--fs-medium);
  color: var(--clr-text-primary);
}

.stat_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.stat_number {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-text-light);
}

.stat_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: var(--br-full);
}

.stat_icon.due_today {
  background: var(--clr-task-due-bg);
}

.stat_icon.due_today span {
  color: var(--clr-task-due-text);
}

.stat_icon.pending {
  background: var(--clr-task-pending-bg);
}

.stat_icon.pending span {
  color: var(--clr-task-pending-text);
}

.stat_icon.in_progress {
  background: var(--clr-task-in-progress-bg);
}

.stat_icon.in_progress span {
   color: var(--clr-task-in-progress-text);
}

.stat_icon.completed {
  background: var(--clr-task-completed-bg);
}

.stat_icon.completed span {
  color: var(--clr-task-completed-text);
}
