.badge {
  padding: 0 12px;
  border-radius: var(--br-small);
  min-width: 60px;
  max-width: 200px;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  font-size: var(--fs-small);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Pill variant */
.badge.pill {
  border-radius: 20px;
}

/* Bagde Colors */
.badge.primary {
  background-color: var(--clr-primary-opacity);
  color: var(--clr-primary-light);
}

.badge.pending {
  background-color: var(--clr-task-pending-bg);
  color: var(--clr-task-pending-text);
}

.badge.in_progress {
  background-color: var(--clr-task-in-progress-bg);
  color: var(--clr-task-in-progress-text);
}

.badge.completed {
  background-color: var(--clr-task-completed-bg);
  color: var(--clr-task-completed-text);
}

.badge.warning {
  background-color: var(--clr-warning-opacity);
  color: var(--clr-warning-dark);
}

.badge.error {
  background-color: var(--clr-error-opacity);
  color: var(--clr-error-light);
}

.badge.success {
  background: var(--clr-success-opacity);
  color: var(--clr-success-light);
}

.badge.disabled {
  background: var(--clr-disabled-opacity);
  color: var(--clr-disabled-main);
}
