.main {
  background: var(--clr-blueish-gray-dark);
  border-left: 1px solid var(--clr-blue-dark);
  /* position: sticky;
  top: 0;
  right: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 225px;
  padding: 1rem 1.5rem;
}

.main h2 {
  color: var(--clr-gray-light);
}