.main {
  background: var(--clr-trasparent);
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--clr-blue-dark);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 3;
  /* transition: width var(--transition-default); */
}

.main.sidebar_open {
  width: calc(100% - 225px);
}

.main.sidebar_closed {
  width: calc(100% - 70px);
}

.col_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.sidebar_toggle span {
  color: var(--clr-text-primary);
}

.sidebar_toggle span:hover {
  color: var(--clr-text-light) !important;
}