.table_main {
  border-collapse: collapse;
  width: 100%;
}

.table_main > :not(caption) > * > * {
  padding: 0.75rem 0.6rem;
  border-bottom-width: 1px;
}

.table_head {
  color: var(--clr-text-primary);
  background: var(--clr-bg-card-secondary);
  border-top: 1px solid var(--clr-border-light);
  border-bottom: 1px solid var(--clr-border-light);
}

.table_head th {
  font-size: var(--fs-body);
}

.table_body td,
.table_head th {
  color: var(--clr-text-secondary);
}

.table_body td {
  font-size: var(--fs-body);
}

.table_body tr {
  border-bottom: 1px solid var(--clr-border-light);
}

.table_body tr:hover {
  background: var(--clr-bg-card-secondary);
  cursor: pointer;
}

.table_head th:first-child,
.table_body td:first-child {
  padding-left: 1.75rem;
}

.table_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: var(--clr-text-secondary);
  padding: 0 1.75rem;
  /* background: var(--clr-bg-card-secondary);
  border-top: 1px solid var(--clr-border-light); */
}

.pagination_btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.pagination_control_btn,
.pagination_btn {
  border-radius: var(--br-small);
  border: 1px solid var(--clr-border-dark);
  /* transition: background var(--transition-default); */
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: var(--fs-body);
}

.pagination_control_btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_btn:hover,
.pagination_control_btn:hover {
  background: rgba(95, 116, 141, 0.137);
  transition: background var(--transition-default);
}

.activeButton,
.activeButton:hover {
  /* color: #fff;
  background: var(--clr-primary-main);
  border-color: var(--clr-primary-main); */
  /* color: var(--clr-primary-light); */
  background: var(--clr-primary-opacity);
  border-color: var(--clr-primary-main);
}

.inactiveButton {
  /* color: #2c3e50;
  background: #f9f9f9; */
}

@media (max-width: 600px) {
  .table_container {
    overflow-x: auto;
  }
  
  .table_main {
    width: 500px;
  }

  /* .table_footer {
    justify-content: center;
  } */

  .pagination_text {
    display: none;
  }
}
