.main {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background: var(--clr-bg-card-main);
  border-radius: var(--br-small);
  border: 1px solid var(--clr-trasparent);
  transition: border-color var(--transition-default);
}

.search_field {
  border: none;
  outline: none;
  background: inherit;
  padding: 0 0.25rem;
}

.main span,
.search_field::placeholder {
  color: var(--clr-text-dark);
}

.main:focus-within {
  border-color: var(--clr-primary-main);
}

.main:focus-within span {
  color: var(--clr-primary-main);
}

