.breadcrumbs_list {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0.5rem;
}

.breadcrumbs_item {
  display: flex;
  align-items: center;
  color: var(--clr-text-secondary);
}

.breadcrumbs_item a {
  color: var(--clr-text-secondary);
  text-decoration: none;
  font-size: var(--fs-small);
  text-transform: capitalize;
}

.breadcrumbs_item a:hover {
  /* text-decoration: underline; */
  color: var(--clr-text-primaryt);
}