.title {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--clr-text-primary);
}

.lead {
  font-size: var(--fs-body);
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  margin: 2rem 0;
}

.form label,
.form span {
  color: var(--clr-text-secondary);
}


.form a {
  text-decoration: underline;
}

.form a:hover {
  color: var(--clr-primary-main);
}

