.header {
  padding-bottom: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  height: 100%;
}

.calendar_card {
  display: flex ;
  justify-content: center;
  margin-bottom: 1.5rem;
}
