.main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  background: var(--clr-blue-dark);
  position: relative;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
