.main {
  padding: 1.75rem;
  border-radius: var(--br-small);
  color: var(--clr-text-main);
  background: var(--clr-bg-card-main);
}

/* Variants */
.default {
  background: var(--clr-bg-card-main);
}

.light {
  background: var(--clr-bg-card-light);
}

.dark {
  background: var(--clr-bg-card-dark);
}