.main {
  padding: 1.75rem;
  border-radius: var(--br-small);
  color: var(--clr-text-secondary);
  background: var(--clr-bg-card-main);
  box-shadow: rgba(95, 116, 141, 0.03) 0px 4px 2px -0px, rgba(95, 116, 141, 0.04) 0px 2px 2px 0px, rgba(95, 116, 141, 0.08) 0px 2px 4px 0px;
}

/* Variants */
.default {
  background: var(--clr-bg-card-main);
}

.light {
  background: var(--clr-bg-card-light);
}

.dark {
  background: var(--clr-bg-card-dark);
}