.main {
  padding: 1.75rem;
  border-radius: var(--br-small);
  color: var(--clr-text-secondary);
  background: var(--clr-bg-card-primary);
  box-shadow: rgba(95, 116, 141, 0.03) 0px 4px 2px -0px, rgba(95, 116, 141, 0.04) 0px 2px 2px 0px, rgba(95, 116, 141, 0.08) 0px 2px 4px 0px;
}

/* Variants */
.default {
  background: var(--clr-bg-card-primary);
}

.light {
  background: var(--clr-bg-card-secondary);
}

.dark {
  background: var(--clr-bg-card-primary);
}

.padding_small {
  padding: 1.35rem;
}

.padding_none {
  padding: 1.35rem 0;
}

.padding_medium {
  padding: 2.5rem;
}

.padding_large {
  padding: 2.75rem;
}