.header {
  padding-bottom: 2rem;
  width: 100%;
  color: var(--clr-text-light);
}

.header,
.header_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  height: 100%;
}

.container{
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-gap: 20px;
  height: 100%;
  /* min-width: 600px;
  overflow: auto; */
}

.container.list_view .add_task_btn {
  min-height: 200px;
}

.view_select {
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media Queries */
@media only screen and (max-width: 1300px) {
    .add_task_btn {
    grid-column-end: span 4;
  }
  
}

@media only screen and (max-width: 1000px) {
  .add_task_btn {
    grid-column-end: span 6;
  }
}

@media screen and (max-width: 800px) {
  .add_task_btn  {
    grid-column-end: span 12;
  }
}