.header {
  padding-bottom: 2rem;
  width: 100%;
  color: var(--clr-text-light);
}

.header,
.header_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  height: 100%;
}

.container.grid_view {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-gap: 20px;
  height: 100%;
  /* min-width: 600px;
  overflow: auto; */
}

.container.list_view {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  height: 100%;
}

/* .add_task_btn {
  border: 2px dashed var(--clr-bg-card-main);
  border-radius: var(--br-small);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 275px;
  width: 100%;
  grid-column-end: span 3;
} */

.container.list_view .add_task_btn {
  min-height: 200px;
}

.view_select {
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_select_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  border-radius: var(--br-small);
  transition: color var(--transition-default);
}

.view_select_btn,
.view_select_btn span {
  color: var(--clr-text-light);
}

.view_select_btn {
  cursor: pointer;
}

.view_select_btn:hover {
  background: var(--clr-primary-main);
}

/* Media Queries */
@media only screen and (max-width: 1300px) {
    .add_task_btn {
    grid-column-end: span 4;
  }
  
}

@media only screen and (max-width: 1000px) {
  .add_task_btn {
    grid-column-end: span 6;
  }
}

@media screen and (max-width: 800px) {
  .add_task_btn  {
    grid-column-end: span 12;
  }
}