.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
  padding: 0 1rem 1rem;
  color: var(--clr-text-light);
}

.main.flex_center {
  padding: 0 0 1rem;
  justify-content: center;
}

.main h1 {
  color: var(--clr-text-light);
}

.main p {
  color: var(--clr-text-light);
  font-weight: var(--fw-medium);
  font-size: 1.25rem;
  padding-bottom: .4rem;
}

.logo {
  width: auto;
  max-width: 40px;
  padding: .25rem;
  background: var(--clr-primary-main);
  border-radius: var(--br-small);
  text-align: center;
}
